@using SAAS_AIMS.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<div class="right_col" role="main">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="clearfix"></div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    @if (ViewBag.HasLocalPassword)
                    {
                        if (ViewBag.StatusMessage != null)
                        {
                          <p class="text-success fade fadeIn fadeOut out in" role="alert">
                            @ViewBag.StatusMessage
                          </p>   
                        }
                        @Html.Partial("_ChangePasswordPartial")
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
