@using SAAS_AIMS.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<div class="right_col" role="main">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="clearfix"></div>
        
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    @if (ViewBag.StatusMessage != null)
                    {
                      <div class="alert alert-dismissible alert-success fade fadeIn fadeOut out in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                        @ViewBag.StatusMessage
                      </div>   
                    }
                    @if (ViewBag.HasLocalPassword)
                    {
                        @Html.Partial("_ChangePasswordPartial")
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
